.row
  .col-md-8.col-md-offset-2
    %h1.text-center About Us
    %h3.brand-small why we juice.
    %p We are Los Angeles creatives with too many genius ideas that never see the light of day. With one in every six people employed in a creative field, we're a city full of talent, all hungry to get our name on the credits. We'd even work for free. In fact, this is how most of us get started.
    %p Juicr is a meeting ground for like-minded folks who just want to create. This is a platform for collaborating through the exchange of services - no monetary compensation, stipends, or "gas allowances." No $$$, no problem.
    %p For those of just beginning our careers, the first step is in building the portfolio. To get new work, you have to show off past work. It's one of those frustrating chicken-or-the-egg phenomenons that keeps us up at night. To get that first job, you either have to know someone who knows someone who knows someone, or just be extremely, maddeningly lucky - right ? Not anymore!
    %p Now we have a space where people just like us, hungry to create, can find each other and make something.
    %h3.brand-small our team.
    %p Our team is made of people just like you. We were posting on the Craigslist gigs section and our Facebook walls, hoping to find friends that would help us with our projects. But we needed a more intimate community than Craigslist, but wanted to reach more people than just Facebook friends. That's Juicr!
