.row
  .col-md-8.col-md-offset-2
    %h1 About Us
    %h3.brand-small why we juice.
    %p We are Los Angeles creatives with too many genius ideas that never see the light of day. With one in every six people employed in a creative field, we're a city full of talent, all hungry to get our name on the credits. We'd even work for free. In fact, this is how most of us get started.
    %p Juicr is a meeting ground for like-minded folks who just want to create. This is a platform for collaborating through the exchange of services - no monetary compensation, stipends, or "gas allowances." No $$$, no problem.
    %p For those of just beginning our careers, the first step is in building the portfolio. To get new work, you have to show off past work. It's one of those frustrating chicken-or-the-egg phenomenons that keeps us up at night. To get that first job, you either have to know someone who knows someone who knows someone, or just be extremely, maddeningly lucky - right ? Not anymore!
    %p Now we have a space where people just like us, hungry to create, can find each other and make something.
    %h3.brand-small our team.
    %p Nullam sit amet ullamcorper nulla, nec pharetra leo. Nam porttitor quam in varius suscipit. Integer id sem lobortis, semper massa at, finibus justo. Nam blandit auctor fermentum. Maecenas et leo rutrum, dignissim libero non, faucibus metus. Pellentesque ac nisl pharetra, suscipit felis at, vulputate risus. Nullam quis diam nec tortor malesuada tincidunt. Nam facilisis imperdiet erat in placerat. Proin rhoncus, sem eget lobortis dictum, sapien nunc vestibulum nunc, nec aliquet tortor risus et nisi. Curabitur lobortis felis non nisl tincidunt, id consectetur risus lacinia. Cras lacinia nulla at felis sagittis auctor. Integer tincidunt pulvinar pretium. Etiam congue magna at ante condimentum rhoncus.
