.row
  .col-md-8.col-md-offset-2
    %h1 Getting Started
    %h3.brand-small ask. give. create.

    %h3 Ask for a service
    %p Have a clear idea of what you need, what you're looking for, and what is realistic. Make sure to include a brief pitch of your project, as well as details such as time commitment and other expectations.
    %p Need a make-up artist for your next shoot ? Or maybe a web designer for your webseries site. Integer tincidunt bibendum aliquet. Suspendisse potenti. Donec convallis mauris justo. Nulla facilisis libero nibh, vel volutpat eros finibus ac. Fusce vehicula aliquet aliquam. Morbi pretium lobortis interdum. Pellentesque ultricies iaculis risus ac convallis. Morbi lacus magna, dictum eget massa ac, bibendum sodales nunc. Integer finibus efficitur enim, vel hendrerit lacus dictum et.
    %p Once you've found your one and only, please update the posting as "fulfilled." Asks will be automatically deleted after 1 week.

    %h3 Give your talent
    %p See what projects are looking for in the Asks board. Find one that makes your heart sing and offer your service.
    %p You can also post your professional talent on the Give board, open for all members to see.

    %p Juicr is a tool for connecting projects and people. Once an Asker chooses a Giver, all communication thereafter must be completed outside of Juicr.

    %h2 It's that easy!

    %h3.brand-small faq.
    %h4 Why would I user Juicr ?
    %p You're either looking to do creative work for free, or need a creative service for free.

    %h4 What do you mean by "creative industry" ?
    %p Fine arts, performing arts, digital media, communication, entertainment, architecture, interior design, product/industrial design, fashion...

    %h4 Who can post ?
    %p Anyone in the Los Angeles metro who has a creative soul. No recruiters or agencies. No ads for paid positions.

    %h4 What kind of service can I ask for ?
    %p

    %h4 What if I don't want to disclose all the details about my project ?
    %p

    %h4 Can I trust this person ?

    %h4 How do I respond to an Ask ?

    %h4 Do I get paid ?

    %h4 Am I held under a contract ?
