.row
  .col-md-8.col-md-offset-2
    #getting-started
      %h1.text-center Getting Started
      %h3.brand-small.text-center ask. give. create.

      %h3 Ask for a service
      %p Have a clear idea of what you need, what you're looking for, and what is realistic. Make sure to include a brief pitch of your project, as well as details such as time commitment and other expectations.
      %p Need a make-up artist for your next shoot ? Or maybe a web designer before launching your web series. You might just be looking for a PA to help with a 20-hour shoot in the desert. Hey, I'm sure there's someone out there that would love to do it. There's no harm (or cost!) in asking.
      %p Once you've found your one and only, please update the posting as "fulfilled." Asks will be automatically deleted after 1 week.

      %h3 Give your talent
      %p Browse projects in the Asks board. Find one that makes your heart sing and offer your service.
      %p Make sure you have a Giver profile that shows off your talents. This will be the first resource that Askers will see once you submit your Give.
      %p Remember to make responsible Gives, only offering talents and services that you can actually provide.

      %p Juicr is a tool for connecting projects and people. Once an Asker chooses a Giver, all communication thereafter must be completed outside of Juicr.

    #faq
      %h2.brand-small.text-center frequently asked questions.
      %h4.lead Why would I user Juicr ?
      %p You're either looking to do creative work for free, or need a creative service for free.

      %h4.lead What do you mean by "creative industry" ?
      %p Fine arts, performing arts, digital media, communication, entertainment, architecture, interior design, product/industrial design, fashion. If we're missing your industry, send us an email and we'll add it.

      %h4.lead Who can post ?
      %p Anyone in the Los Angeles metro area who has a creative soul. No recruiters or agencies. No ads for paid positions.

      %h4.lead What kind of service can I ask for ?
      %p Any creative talent or professional service that adds to a project.

      %h4.lead What if I don't want to disclose all the details about my project ?
      %p Publish enough information to catch the attention of Givers, then you always talk about details later.

      %h4.lead Can I trust this person ?
      %p Juicr connects you with like-minded people. But once you've found a match and start communicating outside Juicr, we encourage you to get to know the other person and their expectations before officially inviting them into your team.

      %h4.lead How do I respond to an Ask ?
      %p The Give is your first opportunity to catch the attention of the Asker. Present yourself well, championing your approach and showcasing your talents. Refer to past experiences and why you are the perfect fit for the project.

      %h4.lead What's next after submitting my Give?
      %p If the Asker wants to continue getting to know you, you can continue talks outside of Juicr.

      %h4.lead Do I get paid ?
      %p Juicr is a network for finding unpaid work in the creative industries. If you're looking for paid work, there are so many options out there.

      %h4.lead Does Juicr get paid ?
      %p Access to Juicr is free - there is no cost to create an account, post an ask, and respond with a give. Later we'll add premium services, stay tuned.

      %h4.lead Do I sign a contract when I join a project ?
      %p Juicr only handles the initial interaction. After that, all communication, contracts, and other terms will be handled by the projects, outside of Juicr.
