.row
  .col-md-8.col-md-offset-2
    %h1 Getting Started
    %h3.brand-small ask. give. create.

    %h3 Posting an Ask
    %p Integer tincidunt bibendum aliquet. Suspendisse potenti. Donec convallis mauris justo. Nulla facilisis libero nibh, vel volutpat eros finibus ac. Fusce vehicula aliquet aliquam. Morbi pretium lobortis interdum. Pellentesque ultricies iaculis risus ac convallis. Morbi lacus magna, dictum eget massa ac, bibendum sodales nunc. Integer finibus efficitur enim, vel hendrerit lacus dictum et.

    %h3 Responding with a Give
    %p Praesent vitae convallis ipsum, id laoreet lectus. Maecenas posuere turpis a dui varius semper. Vivamus elementum venenatis ante, nec scelerisque massa condimentum a. Integer in leo mollis, suscipit ante ac, pulvinar urna. Sed blandit mauris risus. Mauris vestibulum aliquet accumsan. Mauris non tempus arcu. Ut vestibulum eu magna eu viverra. Morbi ex tortor, blandit venenatis orci eget, fringilla convallis tortor. Morbi arcu justo, blandit eu leo id, elementum consectetur massa. Cras porttitor imperdiet justo eget faucibus. Vestibulum vel lacus sed elit elementum aliquam. Sed congue mauris sed interdum egestas. Phasellus imperdiet rhoncus ultricies. Fusce vel nisl at nibh dignissim vestibulum et et sapien.

    %h2 It's that easy!
