.intro-headline.text-center
  .container.front-head
    %h1.brand-head.text-shadow Juicr
    %p.brand-small.text-shadow#tag LOS ANGELES
    %h2.brand-secondary.text-shadow ask. give. create.
    %h2.text-shadow Join a project, or find friends to help with yours
    - if current_user
      = link_to "Learn more", static_help_path, class: 'btn btn-default btn-lg'
    - else
      = link_to "Sign up", new_user_registration_path, class: 'btn btn-default btn-lg'
      = link_to "Log in", new_user_session_path, class: 'btn btn-default btn-lg'
.container.front-icons.text-center
  .row
    .col-md-4
      %span.glyphicon.glyphicon-leaf.glyphicon-front
      %h3.brand we're cool.
      %p We love to create things because we're creative. But we always need other creative people for our projects. And we're always looking to find fun projects we can join. We want to find other people like us so we can keep on creating.
    .col-md-4
      %span.glyphicon.glyphicon-heart.glyphicon-front
      %h3.brand you're cool.
      %p You're just starting your career as a creative in Los Angeles. But it's been difficult getting your project off the ground because you don't have a huge budget to pay for great creative talent; or you're a creative just wanting to be part of a project but can't find one that will risk a position on someone who is just starting their career.
    .col-md-4
      %span.glyphicon.glyphicon-eye-open.glyphicon-front
      %h3.brand let's work together.
      %p Juicr is the missing link. At the end of the day, we all just want to create, without having to worry about budgets and hourly stipends. No money no problem. Let's just make something.
