- if policy(@ask).create_offer?
  #give-form
    %h1.brand-secondary give.
    = form_for [@ask, @ask.offers.build] do |f|
      .form-group
        = f.text_area :body, class: 'form-control', rows: 6, placeholder: "Offer a service, talent, or skill. Describe your qualifications and outline your approach."
      = f.submit 'Submit', class: 'btn btn-success'

%h3.brand.text-center current offers.
