@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato';
  font-size: 16px;
  color: #565a5c;
}

#ask {
  margin-top: 10%;
}

#give-form {
  margin-top: 20px;
}

#give-index {
  margin-top: 20px;
}

// Buttons
.btn {
  border: none!important;
  width: 150px;
}

.btn-primary {
  background-color: #999;
  color: #fff;
}

.btn-success {
  background-color: #16a085;
  color: #fff;
}

.btn-give {
  width: 75px;
  background-color: #d35400;
  color: #fff!important;
}

.btn-facebook {
  width: 250px;
  color: #fff!important;
  margin-bottom: 20px;
}

.btn-nav {
  width: 50px;
  background-color: transparent;
  color: #d35400!important;
}

.accept-btn {
  margin-top: 10px;
}

// Navbar
.navbar {
  background-color: transparent;
  border: none;
}

a, a:hover, a:visited, a:link, a:active {
  color: #16a085;
}

#user-info {
  margin: 15px 10px;
}

.nav-link {
  margin-right: 10px;
}


// Home Page
.intro-headline {
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #555;
  background-size: cover;
  color: #fff;
  width: 100%;
  min-height: 180px;
}

.glyphicon-front {
  font-size: 6em;
}

.front-icons {
  margin-top: 10em;
}

// Asks Index
#search-form {
  margin-top: 10px;
}
#dropdown {
  margin-top: 15px;
  font-size: 14px;
  font-style: bold;
}

// Footer
#footer {
  margin-top: 10em;;
  padding-top: 20px;
  min-height: 100px;
  background-color: #999;
  color: #fff;
  font-family: 'Lato';
  font-size: 16px;
  a, a:hover, a:visited, a:link, a:active {
    color: #fff;
    text-decoration: none;
  }
}

.footer-item {
  margin: 20px;
}

.end-footer {
  margin-top: 15px;
}

// Index
.index {
  font-size: 18px;
  margin-top: 20px;
}

// Color and font style
a, a:visited, a:link, a:active {
  color: #16a085;
  text-decoration: none;
}
a:hover {
  color: #999;
  text-decoration: none;
}

.gray-link {
  a, a:visited, a:link, a:active {
    color: #555;
    text-decoration: none;
  }
  a:hover {
    color: #16a085;
    text-decoration: none;
  }
}

.link-secondary {
  a, a:visited, a:link, a:active {
    color: #d35400!important;
    text-decoration: none;
  }
  a:hover {
    color: #16a085;
    text-decoration: none;
  }
}

// Brand
.brand-head {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
}

.brand  {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #565a5c;
}

.brand-small {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #16a085!important;
}

.brand-secondary {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #d35400!important;
}

.text-shadow {
  text-shadow: black 0.1em 0.1em 0.2em;
}
