@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster:400);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato';
}

p {
  font-size: 16px;
}

.brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #1abc9c;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.brand-small {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #1abc9c;
}

a, a:hover, a:visited, a:link, a:active {
  color: #1abc9c;
}

.navbar-toggle {
  background-color: #1abc9c;
}

.headline {
  margin-top: -20px;
  background-color: #555;
  color: #fff;
  width: 100%;
  min-height: 350px;
}

// Footer
#footer {
  margin-top: 50px;
  padding-top: 20px;
  min-height: 100px;
  background-color: #16a085;
  color: #fff;
  font-family: 'Lato';
  font-size: 16px;
  a, a:hover, a:visited, a:link, a:active {
    color: #fff;
    text-decoration: none;
  }
}

.footer-item {
  margin: 20px;
}

#credit {
  font-family: 'Lobster';
  font-size: 18px
}

.end-footer {
  margin-top: 15px;
}
