- if policy(@categories).index?
  .row
    .col-md-4.col-md-offset-1
      %h1.brand asks by industry.
      -if policy(@categories).new?
        %h4.text-center= link_to "new industry", new_category_path
      - @categories.each do |category|
        %h3.brand-small= link_to category.name, category
        - if policy(category).destroy?
          .small= link_to 'Delete', category, :method => :delete, :data => { :confirm => 'Are you sure?' }
    -# .col-md-4.col-md-offset-1
    -#   %h1.brand users by industry.
    -#   - @categories.each do |category|
    -#     %h3.brand-small= link_to category.name, category_cat_users_path(category)
    -#     - if policy(category).destroy?
    -#       .small= link_to 'Delete', category, :method => :delete, :data => { :confirm => 'Are you sure?' }
